

*.xml

cifar10_input.py

*.iml

cifar10_train.py

cifar10.py

__pycache__/cifar10_input.cpython-35.pyc

fully_connected_feed.py

minst_with_summary.py

input_data.py

minst.py

test.py

*.jpg

*.jpg
